//spinnerSize based off circumfrence
$spinnerSize: 200;
$brandColor: #409fff;
$baseNeutralLight: #d6d6d6;
$baseNeutralDark: #484a4d;

svg.spinner {
  width: $spinnerSize + px;
  height: $spinnerSize + px;

  .progress-animation {
    fill: transparent;
    stroke: $brandColor;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.1s linear;
    animation: spinner-loading 2s cubic-bezier(0.15, 0.39, 0.64, 0.41) infinite;
  }

  .progress {
    fill: transparent;
    stroke: $baseNeutralLight;
    stroke-linecap: round;
  }
}

@keyframes spinner-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
